<div class='container m-4'> 
  <div class='mb-4'>
    <h1>New Task</h1>
  </div>
  <%= form_for (@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>
  <div class="mt-4">
    <button class="btn btn-outline-primary"><%= link_to "Back to list", task_list_path %></button>
  </div>
</div>